page-home {
  .cabecalho-principal {
    height: auto;
    .navegacao-principal {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-end;
      background: $primary;
      box-shadow: none;
      height: 100px;
      .menu-principal {
        margin: 16px;
      }
      .logo-principal {
        position: absolute;
        top: 20px;
        left: 10px;
        height: 80px;
      }
    }
  }  
  
  .pagina-inicial {
    background: $light;
    font-family: roboto;
    overflow: hidden;
    font-weight: 300;
    .container-botao { 
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .botao-pagina-inicial {
        width: 240px;
        text-align: center;
        height: 240px;
        border-radius: 50%;
        background-image: $primary-degrade;
        line-height: 28px;
        text-transform: capitalize;
        box-shadow: none;
        &:hover {
          opacity: 0.85;
        }
        .texto-botao {
          font-weight: 100;
          font-size: 24px;
          color: $light;
          position: relative;
          top: 24px;
        }
        .icone-botao {
          position: absolute;
          top: 48px;
          font-size: 60px;
          color: $light;
        }
    }
  }
    .lista-de-registros {
      border: 0;
      outline: 0;
      .lista-de-registros__registro {
        border: 0 !important;
        background: transparent;
        .icone-buttom {
          position: absolute;
          right: 0;
          margin: auto 0;
          background: $light;
          padding: 10px
        }
      }
    }
    
    .titulo-secundario {
      font-weight: 400;
      text-align: center;
      font-size: 14px;
      padding-top: 16px; 
    }
  }
}