page-formulario {
  .pagina-formulario{
    overflow: hidden;
    background: $light;
    .container-foto {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: auto;
      margin-bottom: 24px;
      background: white;
      .foto {
        max-height: 200px;
        min-height: auto;
        min-width: auto;
        max-width: 100%
      }
    }
    
    .localizacao-container {
      display: flex;
      align-items: center;
      height: 100px;
      .icone-localizacao{
        font-size: 40px;
        color: $primary;
        margin-left: 14px;
      }
      .formulario-localizacao {
        width: 80%;
        display: flex;
        flex-direction: column;
        padding: 0;
        margin-left: 20px;
        h2 {
          padding: 0;
          margin: 0;
          font-size: 20px;
        }
        p {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          padding: 0;
          margin: 0;
          font-size: 16px;
        }
      }
    }

    .ocorrencia-form {
      padding: 4px 16px;
      width: 100%;
      border-radius: 10px;
      border: 0 !important;  /*Removes border*/
      -webkit-appearance: none;  /*Removes default chrome and safari style*/
      -moz-appearance: none;  /*Removes default style Firefox*/
      font-family: roboto;
      font-weight: 300;
      font-size: 20px;
    }

    .detalhes-form {
      margin-top: 10px;

      .detalhes-item {
      }

      .texto-descricao {
      }
    }

    .titulo-secundario {
      font-weight: 400;
      text-align: left;
      font-size: 14px; 
    }

    ion-select {
      width: 100%;;
    }
  }

  .formulario-avancar {
    height: 100px;
    padding: 30px;
    position: fixed;
    bottom: 0;
    button {
      height: 60px;
      font-size: 20px;
      font-weight: 100;
      text-transform: capitalize;
    }
  }
}

