<!--
  Generated template for the FormularioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar [hideBackButton]="true" >
    <ion-title>Ocorrência</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="pagina-formulario" padding>
  <div class="container-foto">
    <img class="foto" *ngIf="foto" [src]="foto" alt="Foto Transite" />
    <img class="foto" *ngIf="!foto" src="http://img.olx.com.br/images/05/059704111784451.jpg" alt="Foto Transite" />
  </div>
  <div class="localizacao-container">
    <ion-icon class="icone-localizacao" name="pin" item-start large></ion-icon>
    <div *ngIf="localDaFoto" class="formulario-localizacao">
      <h2 >{{localDaFoto.name}}</h2>
      <p>{{localDaFoto.vicinity}}</p>
    </div>
  </div>
  <h3 class="titulo-secundario">Escolha o tipo da ocorrência</h3>


  <ion-item class="ocorrencia-form">
    <ion-label>Selecione</ion-label>
    <ion-select [(ngModel)]="tipoDeOcorrencia" cancelText="Cancelar" okText="Continuar">
      <ion-option value="ESTACIONAMENTO_INAPROPRIADO">Estacionamento inapropriado</ion-option>
      <ion-option value="ULTRAPASSAGEM_INDEVIDA">Ultrapassagem indevida</ion-option>
      <ion-option value="USO_DE_CELULAR_DIRIGINDO">Uso de celular dirigindo</ion-option>
      <ion-option value="OCORRENCIA_DE_ACIDENTE">Ocorrência de acidente</ion-option>
      <ion-option value="BURACO_NA_VIA">Buraco</ion-option>
      <ion-option value="OUTRO">Outro</ion-option>
    </ion-select>
  </ion-item>

  <h3 class="titulo-secundario">Informe a descrição</h3>

  <ion-item class="detalhes-item">
    <ion-label class="texto-descricao" stacked>Descrição</ion-label>
    <ion-input [(ngModel)]="descricao" type="text"></ion-input>
  </ion-item>

  <button class="botao-avancar" ion-button block (click)='adicionarOcorrencia();'>Concluir</button>

</ion-content>